<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.embed.mapper.FileMapper">


	<select id="selectAll" resultType="org.embed.dto.FileDTO">
		SELECT * FROM uploaded_files ORDER BY id DESC
	</select>


	<select id="selectById" parameterType="int"
		resultType="org.embed.dto.FileDTO">
		SELECT * FROM uploaded_files WHERE id = #{id}
	</select>


	<insert id="insertFile" parameterType="org.embed.dto.FileDTO"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO uploaded_files
		(user_id, original_file_name, stored_file_path, file_size, created_at)
		VALUES
		(#{userId}, #{originalFileName}, #{storedFilePath}, #{fileSize}, NOW())
	</insert>


	<update id="updateFile" parameterType="org.embed.dto.FileDTO">
		UPDATE uploaded_files
		SET
		original_file_name = #{originalFileName},
		stored_file_path = #{storedFilePath},
		file_size = #{fileSize}
		WHERE id = #{id}
	</update>


	<delete id="deleteFile" parameterType="int">
		DELETE FROM uploaded_files WHERE id = #{id}
	</delete>

</mapper>
