<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메뉴</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:fragment="menu">

        <!-- 상단 메뉴 -->
        <table class="top-nav-table">
            <tr>
                <td class="left"><a th:href="@{/main.to}">홈</a></td>
                <td class="center">비타민 마켓</td>
                <td class="right">
                    <!-- 로그인한 사용자 -->
                    <span th:if="${session.loginUser != null}">
                        
                     <!-- 관리자 메뉴 -->
						<span th:if="${session.loginUser != null and session.loginUser.role eq 'ADMIN'}">
						    <span th:text="${session.loginUser.userName}">관리자</span>님 환영합니다!
						    <a th:href="@{/logout.to}">로그아웃</a>
						    <a th:href="@{/admin/products.fo}">상품관리</a>
						    <a th:href="@{/admin/users.to}">회원관리</a>

						</span>
						
						<!-- 일반 사용자 메뉴 -->
						<span th:if="${session.loginUser != null and session.loginUser.role != 'ADMIN'}">
						    <span th:text="${session.loginUser.userName}">사용자</span>님 환영합니다!
						    <a th:href="@{/logout.to}">로그아웃</a>
						    <a th:href="@{/update.to}">회원수정</a>
						    <a th:href="@{/delete.to}">회원탈퇴</a>
						    <a href="#">장바구니</a>
						</span>

</span>
                   
                   </span>

                    <!-- 비로그인 사용자 -->
                    <span th:unless="${session.loginUser != null}">
                        <a th:href="@{/login.to}">로그인</a>
                        <a th:href="@{/addUI.to}">회원가입</a>
                    </span>

                    <a href="#">고객센터</a>
                </td>
            </tr>
        </table>

        <!-- 메인 메뉴 -->
        <table class="main-nav-table">
            <tr>
                <td><a href="#">과일 목록</a></td>
                <td><a th:href="@{/notice.do}">공지사항</a></td>
                <td><a th:href="@{/question.eo}">문의사항</a></td>
                <td><a href="#">리뷰게시판</a></td>
            </tr>
        </table>

    </div>
</body>
</html>